/* Write your CSS code here */
.currency-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
}
.currency-image-container{
    display: flex;
    align-items: center;
}
.currency-name{
    color: #ffffff;
    font-family: "Roboto";
    font-size: 15px;
    margin-left: 10px;
}
.currency{
    color: #ffffff;
    font-family: "Roboto";
    font-size: 15px;
    margin-left: 10px;
}
.logo{
    height: 25px;
    width: 25px;

}
.usd-euro-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 30%;
}

@media (max-width: 576px){
    .logo{
        height: 20px;
        width: 20px;
    }
    .currency-name{
        font-size: 14px;
    }
    .currency{
        font-size: 14px;
    }
    .currency-item{
        padding-left: 15px;
        
    }
    .usd-euro-container{
        width: 50%;
        
    }
}
